name: CI/CD DevOps

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repositorio
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar pruebas
        run: npm test

      - name: Loguearse en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build imagen Docker
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/hola-mundo-devops .

      - name: Push imagen Docker
        run: docker push ${{ secrets.DOCKER_USERNAME }}/hola-mundo-devops

      - name: Desplegar en Render
        run: |
          curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
